.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.texto-center {
  font-weight: bold;
  margin: auto;
  text-align: center;
}

.mt-sm {
  margin-top: 8px;
}

.mt-md {
  margin-top: 12px;
}

.mt-lg {
  margin-top: 16px;
}

/* estilos de chatbot */

.react-chatbot-kit-chat-header {
  background-color: #0e53d1;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.body-container {
  border: 1px solid cadetblue;
  height: 70vh;
  width: 100%;
  margin: 5px;
  display: grid;
  grid-gap: 10px;
  justify-items: center;
  grid-auto-rows: 450px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  overflow-y: scroll;
}

.lista-container {
  border: 1px solid cadetblue;
  height: 70vh;
  width: 100%;
  margin: 5px;
  justify-items: center;
  overflow-y: scroll;
}
