.imagen-container {
  width: 70%;
  height: 150px;
}

.imagenes {
  width: 120px;
  border: 2px solid black;
  height: 120px;
  font-size: 18px;
}

.imagenes:hover {
  cursor: pointer;
  background-color: #0275d8;
  color: white;
}

.mostrar-imagen {
  width: 500px;
  height: 500px;
  cursor: pointer;
}

.clase-img-container {
  display: flex;
  justify-content: center;
}

@media (max-width: 700px) {
  .clase-img-container {
    flex-direction: column;
  }
}

.clase-imagen {
  border: 2px solid black;
  border-radius: 50%;
  width: 85px;
  height: 85px;
  display: flex;
}

.clase-container {
  border: 1px solid cadetblue;
  height: 60vh;
  width: 100%;
  margin: 5px;
  display: grid;
  grid-gap: 10px;
  justify-items: center;
  grid-auto-rows: 400px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  overflow-y: scroll;
}

.imagen-container {
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: center;
  width: 100%;
}
