.grado-modal {
  font-size: 24px;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  min-width: 25%;
  transform: scale(0);
  animation: modal 0.2s ease-in forwards;
  animation-delay: 0.1s;
  display: flex;
  flex-direction: column;
}
